/shadow-base-dependecy-parent/*.project
/shadow-base-dependecy-parent/.settings
/shadow-base-parent/.settings
/shebao-web-parent/.settings
/shadow-base-parent/*.project
/shebao-web-parent/*.project
/shadow-web-parent/.settings
/shadow-web-parent/*.project
